@{
    ViewData["Title"] = "Form Page";
}

<div >
    <form asp-controller="Home" asp-action="HandleFormSubmit" method="post">
        <p>Enter description of your task:</p>
        <div>
            <input type="text" placeholder="Description" id="description" name="description">
        </div>
         <br>
        <div >
            <input required type="text" placeholder="Text" id="text" name="text">
        </div>
        <br>
        <div >
            <button id="submit" type="submit">Get Info</button>
        </div>
    </form>
</div>
