@model TaskViewModel
@{
    ViewData["Title"] = "Task Page";
}

<div>
    <div>
        <span>Your task ID: </span>
        <span>@Model.Id</span>
        <span>Your task text: </span>
        <span>@Model.Text</span>
        <span>Your task status: </span>
        <span>@Model.Status</span>
        <span>Your task rating: </span>
        <span>@Model.Rating</span>
    </div>
</div>

